*{
margin: 0;
padding: 0;
}

body{
    background-color: #D3D7FF;
    width: 100vw; 
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  min-height: 100vh;
}