.habit-item {
    background-color: #bbc1f7;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.habit-item p {
    color: #2B0562;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.days {
    display: flex;
    justify-content: space-between;
  
}
.days button {
    background-color: #D9D9D9;
    color: #2B0562;
    border: none;
    border-radius: 5px;
    padding: 8px 0;
    width: 100px;
    height: 50px;
}
  
.days button:hover {
    background-color: #b5b2aa;
}
  
.delete-habit {
    background-color:#da93e9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    margin-top: 10px;
    width: 15%;
}
  
.delete-habit:hover {
    background-color: palevioletred;
}
.buttons{
    display: flex;
    gap: 20px;
}
.edit-habit{
    background-color: #5d3ebc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    margin-top: 10px;
    width: 15%;
}
.edit-habit:hover{
    background-color: #2B0562;
}