* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
body {
    background-color: #eae7fa;
    color: #3d3c54;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.container {
    margin-top: 40px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}
  
h1 {
    color: #2B0562;
    margin-bottom: 40px;
    font-size: 2rem;
}
  
.add-habit {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.add-habit input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
}
  
.add-habit button {
    background-color: #5d3ebc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
}
  
.add-habit button:hover {
    background-color: #4b33a6;
}

.predefined-habits {
    margin-bottom: 20px;
}

.predefined-habits p {
    color: #2B0562;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
  
.habit-box {
    background-color: #d9d4f0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.habit-box p {
    text-align: left;
}

.predefined-habits button {
    background-color: white;
    color: #2B0562;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    width: 90%;
}
  
.predefined-habits button:hover {
    background-color: #ddd;
}
  
.habit-list {
    margin-top: 20px;
}
  
.habit-item {
    background-color: #d9d4f0;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: left;
}
  
.habit-item p {
    color: #2B0562;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.days {
    display: flex;
    justify-content: space-between;
}
.days button {
    background-color: #d1cdc5;
    color: #2B0562;
    border: none;
    border-radius: 5px;
    padding: 8px 0;
    width: 40px;
}
  
.days button:hover {
    background-color: #b5b2aa;
}
  
.delete-habit {
    background-color: #5d3ebc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    margin-top: 10px;
}
  
.delete-habit:hover {
    background-color: #4b33a6;
}
