/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15%; /* Default width for larger screens */
  height: 100%;
  background-color: #3c2b88;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease; /* Smooth transition for collapsible behavior */
}

.sidebar h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #bbc1f7;
  border-left: 2px solid rgb(99, 157, 231);
  padding-left: 12px;
}

.date {
  font-size: 14px;
  margin-bottom: 10px;
  color: #3c2b88;
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.status {
  padding: 25px;
}

.dropzone {
  transition: background-color 0.2s ease;
  background-color: #3c2b88;
}

.dropzone-active {
  background-color: #e0f7fa;
}

/* Media Queries */


@media screen and (max-width: 1200px) {
  .sidebar {
    width: 20%;
  }

  .sidebar h2 {
    font-size: 20px;
  }

  .sidebar ul li {
    font-size: 16px;
  }

  .date {
    font-size: 13px;
  }
}


@media screen and (max-width: 768px) {
  .sidebar {
    width: 25%; 
    padding: 15px;
  }

  .sidebar h2 {
    font-size: 18px;
  }

  .sidebar ul li {
    font-size: 14px;
  }

  .date {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 633px) {
  .sidebar {
    width: 90%; 
    height: auto;
    position: relative; 
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
  }

  .sidebar h2 {

    text-align: center;
  }

  .sidebar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .sidebar ul li {
  
    margin: 10px;
    padding: 5px 10px;
  }

  .date {
    font-size: 10px;
    padding: 8px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar.collapsed {
    width: 0;
    overflow: hidden;
    padding: 0;
  }

  .sidebar.collapsed ul,
  .sidebar.collapsed h2,
  .sidebar.collapsed .date {
    display: none;
  }
}
