/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  background-color: #3c2b88;
  color: white;
 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  font-size: 18px;
  color: white;
}

.sidebar ul li:hover {
  color: #bbc1f7;
  border-left: 2px solid rgb(99, 157, 231);
  padding-left: 12px;
  
}

.date {
  font-size: 14px;
  margin-bottom: 10px;
  color:#3c2b88;
  background-color: white;
  padding: 15px;
}
.status{
  padding: 25px;
}
.dropzone {
  transition: background-color 0.2s ease;
  background-color: #3c2b88;
}

.dropzone-active {
  background-color: #e0f7fa;
}
